In [1]:
import pandas as pd
from sklearn.datasets import load_iris
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
import joblib
import os

In [3]:
iris = load_iris(as_frame = True)
X,y = iris['data'],iris['target']

In [4]:
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [5]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                    test_size = 0.10, random_state = 42)

In [7]:
X_test.head()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
73                 6.1               2.8                4.7               1.2
18                 5.7               3.8                1.7               0.3
118                7.7               2.6                6.9               2.3
78                 6.0               2.9                4.5               1.5
76                 6.8               2.8                4.8               1.4

In [8]:
y_test.head()

73     1
18     0
118    2
78     1
76     1
Name: target, dtype: int64

In [9]:
X_test.index

Index([73, 18, 118, 78, 76, 31, 64, 141, 68, 82, 110, 12, 36, 9, 19], dtype='int64')

In [10]:
y_test.index

Index([73, 18, 118, 78, 76, 31, 64, 141, 68, 82, 110, 12, 36, 9, 19], dtype='int64')

In [21]:
#Join X_test and Y_test on their index
M_test = X_test.merge(y_test, left_index = True, right_index = True)
M_test

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
73,6.1,2.8,4.7,1.2,1
18,5.7,3.8,1.7,0.3,0
118,7.7,2.6,6.9,2.3,2
78,6.0,2.9,4.5,1.5,1
76,6.8,2.8,4.8,1.4,1
31,5.4,3.4,1.5,0.4,0
64,5.6,2.9,3.6,1.3,1
141,6.9,3.1,5.1,2.3,2
68,6.2,2.2,4.5,1.5,1
82,5.8,2.7,3.9,1.2,1
110,6.5,3.2,5.1,2.0,2
12,4.8,3.0,1.4,0.1,0
36,5.5,3.5,1.3,0.2,0
9,4.9,3.1,1.5,0.1,0
19,5.1,3.8,1.5,0.3,0

In [13]:
M_test.shape

(15, 5)

In [17]:
#test the model 
loaded_pipeline = joblib.load('../model/irisdecisiontree.joblib')

In [ ]:
with open("../model/irisdecisiontree.joblib", 'rb') as infile:
    joblib.load(infile)

In [18]:
x_test = pd.read_csv("../data/Xtestdata.csv")
x_test.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                6.1               2.8                4.7               1.2
1                5.7               3.8                1.7               0.3
2                7.7               2.6                6.9               2.3
3                6.0               2.9                4.5               1.5
4                6.8               2.8                4.8               1.4

In [20]:
predictions = loaded_pipeline.predict(x_test)
predictions

array([1, 0, 2, 1, 1, 0, 1, 2, 1, 1, 2, 0, 0, 0, 0])